[Desktop Entry]
Name=Nocturnal
X-KDE-PluginInfo-Name=Nocturnal
X-KDE-PluginInfo-Author=Rokin
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=Creative Commons Attribution-ShareAlike 4.0
